{% load i18n %}
{% load pipeline %}
{% load bootstrap %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title -->
    <title>{{ configs.SITE_NAME.value }}</title>
    <!-- /Page title -->

    <!-- Seo Tags -->
    <meta name="description" content="{{ configs.SITE_NAME.value }}" />
    <meta name="keywords" content="Your meta keywords, here"/>
    <meta name="robots" content="index, follow">
    <!-- /Seo Tags -->

    <!-- Favicon and Touch Icons -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- Google Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Hind:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- /google web fonts -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    {% block css %}
        {% stylesheet 'vendors' %}
        {% stylesheet 'astellas' %}
    {% endblock %}

</head>

<body>

    {% include 'common/pageload.html' %}

    <header id="header" class="">
        <div class="container">
            <!-- MAIN MENU -->
            <nav class="">
              <ul class="hd-list-menu">
                  {% for menu_item in menu %}
                    <li {% if menu_item.isActive %} class="active" {% endif %}><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
                  {% endfor %}
              </ul>
            </nav>
            <!-- /MAIN MENU -->
        </div>
    </header>

    <div class="page-wrapper">

        <div id="body-content">
            {% block body %}{% endblock %}
        </div>

    </div>

    {% include 'common/footer.html' %}

</body>

{% block js %}
    <script>
        var consent = "{{ configs.SITE_COOKIE_URL.value }}";
    </script>
    {% javascript 'vendors' %}
    {% javascript 'astellas' %}
{% endblock %}

</html>
