{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load pipeline %}
{% load static %}

{% block body %}

		<div class="header-secondary" style="background-image: url({% static 'img/background-kv.jpg' %});"></div>

		<div class="section-about" id="section-about" style="min-height: 64vh;">
			<div class="container">
				<div class="row">

					<div class="about-text-wrapper" style="width: 100%;">
						<div class="about-text" id="about-text">
							<h1 class="title3 title-border"><i class="fa fa-dot-circle-o"></i> Conferência</h1>

							<p>O link que seguiu não corresponde a uma inscrição válida.</p>

						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
