{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load pipeline %}
{% load static %}

{% block body %}

		<div class="header-secondary" style="background-image: url({% static 'img/background-kv.jpg' %});"></div>

		<div class="section-about" id="section-about" style="min-height: 64vh;">
			<div class="container">
				<div class="row">

					<div class="about-text-wrapper" style="width: 100%;">
						<div class="about-text" id="about-text">
							<h1 class="title3 title-border"><i class="fa fa-dot-circle-o"></i> Conferência</h1>

							{% if configs.ZOOM_CONFERENCE_LINK.value is not None %}
								<p>Clique no link abaixo para assistir à conferência via Zoom.</p>
								<div style="width:100%; text-align:center;">
									<a href="{{ configs.ZOOM_CONFERENCE_LINK.value }}" class="btn btn-nobg" style="margin-top: 50px;"><i class="fas fa-desktop"></i> Assista aqui</a>
								</div>
							{% else %}
								<div class="cookies-text-content">
									<p>{{ configs.ZOOM_CONFERENCE_COPY.value }}</p>
								</div>
								<a href="{% url 'home' %}" class="btn btn-nobg"><i class="fa fa-paper-plane"></i> Inicio</a>
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
