{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load pipeline %}
{% load static %}

{% block body %}

		<div class="header-secondary" style="background-image: url({% static 'img/background-kv.jpg' %});"></div>

		<div class="section-about" id="section-about">
			<div class="container">
				<div class="row">

					<div class="about-text-wrapper">
						<div class="about-text" id="about-text">
							<h1 class="title3 title-border"><i class="fa fa-dot-circle-o"></i> Política de Cookies</h1>
							<div class="cookies-text-content">
								<h3>Introdução</h3>
								<p>A presente Política de <i>Cookies</i> (a “Política“) explica como a Astellas Pharma Europe Ltd, responsável pelo tratamento dos dados pessoais, com sede social em 200 Dashwood Lang Road, Bourne Business Park, Addlestone, KT15 2NX, Reino Unido (doravante “<strong>Astellas</strong>”, “<strong>nós</strong>” “<strong>nosso</strong>” ou “<strong>nos</strong>”) utiliza cookies e tecnologias similares para perceber quando o utilizador visita o nosso site <a href="www.astellas.com/eu" style="color:#D51D4C;">www.astellas.com/eu</a> e subdomínios (o “Site”). Explica em que consistem estas tecnologias e os motivos pelos quais as utilizamos, assim como os direitos do utilizador de controlar a utilização que fazemos das mesmas.</p>
							</div>
							<div class="cookies-text-content">
								<h3>O que são <i>cookies</i>?</h3>
								<p><i>Cookies</i> são pequenos ficheiros de dados que são instalados no seu computador ou dispositivo móvel, quando visita um site. Os <i>cookies</i> são amplamente utilizados pelos proprietários de sites de forma a permitir que estes funcionem ou sejam mais eficientes, bem como para fornecerem informações relevantes para a gestão dos mesmos.</p>
							</div>
							<div class="cookies-text-content">
								<h3>Que tipo de <i>cookies</i> utilizamos?</h3>
								<p>Utilizamos <i>cookies</i> limitados para os fins indicados na tabela abaixo. Alguns <i>cookies</i> são necessários por razões técnicas para que o nosso site funcione, e referimo-nos a estes como <i>cookies</i> "estritamente necessários”. Outros <i>cookies</i> são opcionais e permitem-nos rastrear e especificar os interesses dos nossos utilizadores para melhorar a experiência no nosso site. Terceiros podem utilizar <i>cookies</i> através do nosso site para fins analíticos e outros. Este aspeto é descrito mais detalhadamente abaixo.</p>
							</div>
							<table class="cookie-table">
								<tr class="titles">
									<th><strong><i>Cookie</i></strong></th>
									<th><strong>Objectivo</strong></th>
								</tr>
								<tr>
									<td>Política de <i>Cookies</i> da Astellas</td>
									<td>Um <i>cookie</i> para lembrar as preferências de <i>cookies</i> do utilizador</td>
								</tr>
								<tr>
									<td><i>Cookies</i> do <i>YouTube</i></td>
									<td>Incorporamos vídeos do YouTube: ao carregar no botão “<i>play</i>”, o YouTube irá usar <i>cookies</i> de terceiros para permitir a visualização do vídeo</td>
								</tr>
								<tr>
									<td><i>Cookies</i> do <i>Vimeo</i></td>
									<td>Incorporamos vídeos do Vimeo: ao carregar no botão “<i>play</i>”, o Vimeo irá usar <i>cookies</i> de terceiros para permitir a visualização do vídeo</td>
								</tr>
								<tr>
									<td><i>Google Analytics</i><br><i>www.google.com/analytics/</i></td>
									<td>Estes <i>cookies</i> são opcionais e são utilizados para melhorar e analisar o desempenho do nosso site, mas não são essenciais para a sua utilização. Estes <i>cookies</i> podem recolher dados que são utilizados de forma agregada, para nos ajudar a compreender a forma como o nosso site está a ser utilizado, a efetividade das nossas campanhas de marketing, ou para nos ajudar a personalizar o nosso site para si.</td>
								</tr>
							</table>
							<div class="cookies-text-content">
								<h3>Utilizamos <i>Flash Cookies</i> ou <i>Local Shared Objects</i> (Objetos de Partilha Local)?</h3>
								<p>O nosso site pode igualmente utilizar os denominados “<i>Flash Cookies</i>” (também conhecidos como <i>Local Shared Objects</i> ou “LSOs”), para, entre outros, recolher e armazenar informação sobre a forma como o utilizador utiliza os nossos serviços, prevenir fraude e outras operações do site.</p>
								<p>Caso não deseje <i>Flash Cookies</i> armazenados no seu computador, pode ajustar as definições do seu <i>Flash Player</i> para bloquear o seu armazenamento, através das ferramentas incluídas no Painel de Definições de Armazenamento do <i>Website Storage Settings Panel</i>. Pode igualmente controlar os <i>Flash Cookies</i> acedendo ao Painel de Definições de Armazenamento Geral <i>Global Storage Settings Panel</i> e seguir as instruções (que podem, por exemplo, incluir como eliminar os <i>Flash Cookies</i> existentes (designados por “informação” no site da Macromedia), como evitar que os <i>Flash</i> LSOs sejam instalados no seu computador sem a sua autorização e (para o <i>Flash Player</i> 8 e posteriores) como bloquear os <i>Flash Cookies</i> que não sejam instalados pelo operador da página em que o utilizador se encontra na altura).</p>
								<p>Importa salientar que ao definir o <i>Flash Player</i> para restringir ou limitar a aceitação de <i>Flash Cookies</i> poderá reduzir ou impedir o funcionamento de algumas aplicações <i>Flash</i>, incluindo, eventualmente, aquelas que são utilizadas com os nossos serviços ou conteúdo <i>online</i>.</p>
							</div>
							<div class="cookies-text-content">
								<h3>Como é que o utilizador pode controlar os <i>cookies</i>?</h3>
								<p>O utilizador tem o direito de decidir aceitar ou recusar <i>cookies</i> opcionais de desempenho e análise. Pode alterar as suas preferências quanto a <i>cookies</i> a qualquer altura clicando no ícone 'C'. Poderá então ajustar para "<i>On</i>" ou "<i>Off</i>" e clicar em 'Guardar e fechar'. Pode ser necessário atualizar a página para que as definições entrem em vigor.</p>
								<p>Pode definir ou alterar os controlos do seu navegador para aceitar ou recusar <i>cookies</i>. Se optar por recusá-los, poderá ainda assim continuar a utilizar o nosso site, embora o seu acesso a algumas funcionalidades e áreas do mesmo possa ficar limitado. As formas de recusar os <i>cookies</i>, através dos controlos do seu navegador, variam de navegador para navegador, pelo que deve consultar o menu de ajuda do seu navegador para mais informações.</p>
								<p>Para os <i>cookies</i> de terceiros acima mencionados, pode visitar os sites relevantes desses terceiros e desativar os seus <i>cookies</i>; contudo, como referido acima, pode não conseguir aceder a certas áreas do nosso site e perder a sua funcionalidade.</p>
								<p>Para ser excluído do rastreamento por parte do <i>Google Analytics</i> em todos os sites, visite <a href="http://tools.google.com/dlpage/gaoptout" style="color:#D51D4C;"><i>http://tools.google.com/dlpage/gaoptout</i></a>.</p>
							</div>
							<div class="cookies-text-content">
								<h3>Com que frequência é atualizada esta Política de <i>Cookies</i>?</h3>
								<p>Podemos, pontualmente, atualizar a presente Política de <i>Cookies</i>, a fim de refletir, por exemplo, alterações aos cookies que utilizamos ou por outros motivos operacionais, legais ou regulamentares. Por conseguinte, deve consultar regularmente a presente Política de <i>Cookies</i>, para se manter informado sobre a utilização que fazemos dos <i>cookies</i> e de outras tecnologias associadas.</p>
								<p>Esta Política de <i>Cookies</i> foi atualizada pela última vez no dia 9 de março de 2020.</p>
							</div>
							<div class="cookies-text-content">
								<h3>Onde posso encontrar mais informações?</h3>
								<p>Caso tenha alguma dúvida sobre a utilização que fazemos dos <i>cookies</i> ou de outras tecnologias, envie-nos um e-mail para <a href="mailto:privacy@astellas.com" style="color:#D51D4C;">privacy@astellas.com</a>.</p>
							</div>

							<a href="{% url 'home' %}" class="btn btn-nobg"><i class="fa fa-paper-plane"></i> Voltar</a>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
