{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load pipeline %}
{% load static %}

{% block body %}

            <!-- SECTION: Intro
            ================================================== -->
            <div class="owl-carousel main-carousel" id="main-carousel">

                <!-- slide -->
                <div class="main-intro" style="background-image: url({% static 'img/background-kv.jpg' %});">

                    <div class="container">
                        <div class="intro-content-wrapper viewport">
                            <!-- INTRO CONTENT -->
                            <!-- Adjust the margin-top in style atribute according to content to keep always centered vertically-->
                            <div class="intro-content intro-content-slide1">
                                <!-- row -->
                                <div class="row first">
                                    <div class="col-sm-12 col-md-6">
                                    </div>
                                    <!-- col -->
                                    <div class="col-sm-12 col-md-6">
                                        <div class="conf-title">
                                            <p>CONFERÊNCIA ASTELLAS</p>
                                        </div>
                                        <div class="conf-subtitle">
                                            <p>MEDICINA HUMANIZADA</p>
                                        </div>
                                        <div class="conf-subject">
                                            <p>MEDICINA REGENERATIVA</p>
                                        </div>
                                    </div>
                                    <!-- /col -->
                                </div>
                                <!-- /row -->
                                <div class="row second">
                                    <div class="col-sm-12 col-md-6">
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="conf-date">
                                            <p>21.OUTUBRO.2021</p>
                                        </div>
                                        <div class="conf-local">
                                            <p>Pavilhão Rosa Mota</p>
                                            <p>Porto</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row third">
                                    <div class="col-sm-12 col-md-6">
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <!-- event logo -->
                                        <div class="ic-logo">
                                            <img src="{% static 'img/logo.png' %}" alt="">
                                        </div>
                                        <!-- /event logo -->
                                    </div>

                                </div>

                            </div>
                            <!-- /INTRO CONTENT -->
                        </div>

                    </div>
                </div>
                <!-- /slide -->
            </div>
            <!-- /SECTION: Intro
            ================================================== -->

            <!-- SECTION: Event Infos
            ================================================== -->
            <div class="section-event-infos inverted-section" id="section-event-infos">
                <div class="container-fluid">
                    <div class="event-infos row">
                        <!-- date -->
                        <div class="event-info-col">
                            <div class="event-info-ico"><span class="fa fa-calendar"></span></div>
                            <h3 class="main-title3">Data:</h3>
                            <p>21.Outubro.2021</p>
                        </div>
                        <!-- /date -->
                        <!-- Time -->
                        <div class="event-info-col">
                            <div class="event-info-ico"><span class="fa fa-location-arrow"></span></div>
                            <h3 class="main-title3">Local:</h3>
                            <p>Pav. Rosa Rota (Auditório Super Bock Arena)</p>
                        </div>
                        <!-- /Time -->
                        <!-- Time -->
                        <div class="event-info-col">
                            <div class="event-info-ico"><span class="fa fa-ticket"></span></div>
                            <h3 class="main-title3">Tema</h3>
                            <p>Medicina Regenerativa</p>
                        </div>
                        <!-- /Time -->
                        <!-- Time -->
                        <div class="event-info-col">
                            <div class="event-info-ico"><span class="fa fa-microphone"></span></div>
                            <h3 class="main-title3">Speakers</h3>
                            <p><strong>5</strong> Professional Speakers</p>
                        </div>
                        <!-- /Time -->
                    </div>
                </div>
            </div>
            <!-- SECTION: /Event Infos
            ================================================== -->


            <!-- SECTION: Event Description
            ================================================== -->
            <div class="section-about" id="section-about">
                <div class="container">
                    <div class="row">
                        <!-- Section title -->
                    <div class="section-title-wrapper">
                        <h2 class="title-section">Sobre a Conferência</h2>
                    </div>
                    <!-- /Section title -->

                        <div class="about-text-wrapper">
                            <div class="about-text" id="about-text">
                                <div class="about-text-content">
                                    <p>A Astellas iniciou em 2017 um Ciclo de Conferências claramente focado na Humanização. Humanização dos Cuidados de Saúde.</p>
                                    <p>E, se nas duas Conferências anteriores olhamos para a relação Médico / Doente numa Medicina cada vez mais tecnológica e para a abordagem que temos enquanto Sociedade daqueles que vivem hoje a chamada de terceira Idade, queremos no encerrar de um ciclo olhar para o que podemos esperar de uma área tão revolucionária e promissora como a <strong>Medicina Regenerativa</strong>.</p>
                                    <p>Nesta viagem, continuamos a contar com o Professor Júlio Machado Vaz como, e permitam-nos a analogia, o Maestro. Conduzindo os trabalhos com a sagacidade e particularmente o Humanismo que todos lhe reconhecemos. Caberá a ele, no dia da Conferência, dirigir os trabalhos e permitir que os palestrantes que com ele estarão em palco, nos possam conduzir por este promissor mundo novo da Medicina Regenerativa.</p>
                                    <p>Nesta edição, contamos com a participação de três especialistas de renome na área da Medicina Regenerativa, o investigador coordenador na Univ. Coimbra <strong>Prof. Lino Ferreira</strong>, que partilhará a sua visão sobre o avanço da Medicina Regenerativa em Portugal, e dois representantes do Astellas Institute Regenerative Medicine, <strong>Bob Lanza</strong>, Astellas’ Head of Global Regenerative Medicine and AIRM’s Chief Scientific Officer e <strong>Erin Kimbrel</strong>, Executive Director of Regenerative Medicine at Astellas Institute for Regenerative Medicine (AIRM).</p>
                                    <p>A Conferência culminará com a reflexão do premiado escritor <strong>Afonso Reis Cabral</strong> sobre o tema Medicina Regenerativa na Humanidade.</p>
                                    <p>Contamos com a sua presença?</p>
                                </div>
                                <a href="#section-schedule" class="btn btn-nobg"><i class="fa fa-calendar"></i> Ver Agenda</a> <a href="#section-register" class="btn btn-nobg"><i class="fa fa-paper-plane"></i> Inscrever</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /SECTION: Event Description
            ================================================== -->


            <!-- SECTION: Register
            ================================================== -->
            <div class="section-register inverted-section2 section-padding" id="section-register">
                <div class="container">
                    <!-- Section title -->
                    <div class="section-title-wrapper">
                        <h2 class="title-section">Inscrições</h2>
                        <p>Esta inscrição é gratuita, sujeita a validação e está limitada aos lugares disponíveis.</p>
                    </div>
                    <!-- /Section title -->
                    <div class="row row-nopr">
                        <form id="register-form" method="post" class="form register-form">
                            {% csrf_token %}
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-3" style="padding-left:0;">
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Nome Completo" required>
                                    </div>
                                    <div class="col-sm-3">
                                        <input name="email" id="email" class="form-control" type="email" placeholder="Email" required>
                                    </div>
                                    <div class="col-sm-3">
                                        <input name="entity" id="entity" class="form-control" type="text" placeholder="Entidade / Organização">
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control required" name="attend" id="attend" required>
                                            <option value="">Selecione...</option>
                                            <option value="p">Presencial</option>
                                            <option value="v">Virtual</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-default btn-form"><span id="btn-txt">Enviar</span><span id="btn-loader"><img src="{% static 'img/ajax-loader.gif' %}" /></span></button>
                            </div>

                        </form>

                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="terms" required>
                                <label class="form-check-label" id="termslabel" for="terms">
                                        Li e concordo com os <a href="#">Termos e Condições</a> e a <a href="#">Política de Privacidade</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="communications" >
                                <label class="form-check-label" for="communications">
                                    Concordo com o envio de comunicações por parte da Astellas
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="alert alert-danger form-error" role="alert" style="display:none;" id="form-error">
                            <i class="fas fa-times-circle"></i> <u>Ocorreu um erro!</u> Não foi possível concluir a sua inscrição.
                        </div>
                        <div class="alert alert-warning form-error" role="alert" style="display:none;" id="form-warning">
                            <i class="fas fa-exclamation-triangle"></i> <b>Já está registado!</b> O utilizador com o e-mail que indica já se encontra registado.
                        </div>
                    </div>
                </div>
            </div>
            <!-- /SECTION: Register
            ================================================== -->


            <!-- SECTION: Evento Seguro
            ================================================== -->
            <div class="section-seguro-content" id="section-seguro-content">
                <div class="container">
                    <!-- Section title -->
                    <div class="section-title-wrapper">
                        <h2 class="title-section">Conferência Astellas – Um Evento Seguro</h2>
                    </div>
                    <!-- /Section title -->
                    <div class="row">

                        <div class="seguro-text-wrapper">
                            <div class="seguro-text" id="seguro-text">
                                <div class="seguro-text-content">
                                    <p>Para garantir que a Conferência Astellas decorre com toda a segurança, sugerimos o cumprimento das seguintes seguintes medidas:</p>
                                    <ul>
                                        <li>Apresentação de um certificado digital de vacinação completa, certificado de recuperação ou teste PCR negativo com validade máxima de 72 horas antes ou teste antigénio com validade máxima de 48 horas antes.</li>
                                        <li>À chegada será feita medição de temperatura a todos os convidados.</li>
                                        <li>O uso de máscara é obrigatório durante toda a conferência.</li>
                                        <li>Adicionalmente, irão existir vários pontos de desinfeção ao longo do espaço para livre utilização.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /SECTION: Evento Seguro
            ================================================== -->


            <!-- SECTION: Event Schedule
            ================================================== -->

            <div class="section-schedule inverted-section2" id="section-schedule">
                <div class="container">
                    <!-- Section title -->
                    <div class="section-title-wrapper">
                        <h2 class="title-section">Agenda</h2>
                    </div>
                    <!-- /Section title -->

                </div>
            </div>

            <div class="section-schedule section-bg-left">
                <div class="container">
                    <!-- TABS -->
                    <div class="tabs">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2 schedule-tab-links-wrapper">
                                <!-- Tab links -->
                                <ul class="tab-links schedule-tab-links">
                                    <li class="active"><a href="#schedule-tab1"><span class="fa fa-calendar"></span>&nbsp;&nbsp; 21 de Outubro</a></li>
                                </ul>
                                <!-- /Tab Links -->
                            </div>
                        </div>


                        <!-- Schedule Tabs -->
                        <div class="schedule-tabs">
                            <!-- Schedule Tab -->
                            <div class="schedule-tab tab" id="schedule-tab1">
                                <!-- schedule list -->
                                <div class="schedule-list">

                                    <!-- Schedule itens header -->
                                    <div class="schedule-item-header">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block schedule-item-block-top">
                                                    <div class="schedule-item-bar schedule-item-bar-top"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule itens header -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img1.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date"></h4>
                                                                <h3 class="schedule-item-title">Receção e Acreditação</h3>
                                                                <div class="schedule-item-text">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img2.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date">17:30</h4>
                                                                <h3 class="schedule-item-title">Welcome | Filipe Novais</h3>
                                                                <div class="schedule-item-text">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img3.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date"></h4>
                                                                <h3 class="schedule-item-title">Introdução | Prof. Júlio Machado Vaz</h3>
                                                                <div class="schedule-item-text">
                                                                    <p>Medicina Humanizada e Medicina Regenerativa.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img4.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date"></h4>
                                                                <h3 class="schedule-item-title">Astellas Medicina Inovadora | Alan McDougall</h3>
                                                                <div class="schedule-item-text">
                                                                    <p>Astellas - A Visão e Aspiração</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img5.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date"></h4>
                                                                <h3 class="schedule-item-title">Instituto de Medicina Regenerativa Astellas | Erin Kimbrel | Robert Lanza</h3>
                                                                <div class="schedule-item-text">
                                                                    <p>Progresso e desenvolvimento promissor da Medicina Regenerativa</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img6.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date"></h4>
                                                                <h3 class="schedule-item-title">Medicina Regenerativa em Portugal | Prof. Lino da Silva Ferreira</h3>
                                                                <div class="schedule-item-text">
                                                                    <p>Avanço da Medicina Regenerativa em Portugal</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img7.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date"></h4>
                                                                <h3 class="schedule-item-title">A Minha Reflexão | Afonso Reis Cabral</h3>
                                                                <div class="schedule-item-text">
                                                                    <p>O impacto da Medicina Regenerativa na Humanidade</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img8.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date"></h4>
                                                                <h3 class="schedule-item-title">Debate | Prof. Júlio Machado Vaz</h3>
                                                                <div class="schedule-item-text">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule item -->
                                    <div class="schedule-item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block">
                                                    <div class="schedule-item-bar"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10 schedule-item-content-wrapper">
                                                <!-- schedule item content -->
                                                <div class="schedule-item-content">
                                                    <div class="row">
                                                        <!-- col -->
                                                        <div class="col-sm-2">
                                                            <div class="schedule-item-img">
                                                                <img src="{% static 'img/schedule-img9.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                        <!-- col -->
                                                        <div class="col-sm-10">
                                                            <div class="schedule-item-infos">
                                                                <h4 class="schedule-item-date">19:30</h4>
                                                                <h3 class="schedule-item-title">Network</h3>
                                                                <div class="schedule-item-text">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                </div>
                                                <!-- schedule item content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule item -->

                                    <!-- Schedule itens footer -->
                                    <div class="schedule-item-footer">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <!-- schedule item bar -->
                                                <div class="schedule-item-block schedule-item-block-bottom">
                                                    <div class="schedule-item-bar schedule-item-bar-bottom"></div>
                                                </div>
                                                <!-- /schedule item bar -->
                                            </div>
                                            <div class="col-sm-10">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Schedule itens footer -->
                                </div>
                                <!-- /schedule list -->
                            </div>
                            <!-- /Schedule Tab -->
                        </div>
                        <!-- /Schedule Tabs -->

                    </div>
                    <!-- /TABS -->

                </div>
            </div>
            <!-- /SECTION: Event Schedule
            ================================================== -->

            <!-- SECTION: Team
            ================================================== -->
            <div class="section-team inverted-section2 section-padding" id="section-speakers">
                <div class="container">
                    <!-- Section title -->
                    <div class="section-title-wrapper">
                        <h2 class="title-section">Speakers</h2>
                    </div>
                    <!-- /Section title -->
                    <div class="owl-carousel" id="about-team">

                        {% for speaker in speakers %}
                            <!-- item -->
                            <div class="team-item">
                                <!-- team-member wrapper-->
                                <div class="team-item-wrapper">
                                    <!-- team-member pic -->
                                    <div class="team-member-picture-wrapper">
                                        <div class="team-item-picture">
                                            <img src="{{ speaker.image }}" alt="{{ speaker.name }}"/>
                                        </div>
                                        <div class="team-member-find">
                                            <div class="team-member-find-overlay">
                                                <!-- overlay content -->
                                                <div class="team-member-find-content">
                                                    {{ speaker.description }}
                                                </div>
                                                <!-- /overlay content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /team-member pic -->
                                    <!-- team-member Infos -->
                                    <div class="team-item-content">
                                        <h3 class="team-item-title">{{ speaker.name }}</h3>
                                        <p class="team-item-subtitle">{{ speaker.position }}{% if speaker.company is not None %} @ {{ speaker.company }}{% endif %}</p>
                                    </div>
                                    <!-- team-member Infos -->
                                </div>
                                <!-- /team-member wrapper-->
                            </div>
                            <!-- /item -->
                        {% endfor %}

                    </div>
                </div>
            </div>
            <!-- /SECTION: Team
            ================================================== -->


            <!-- SECTION: Edições Anteriores
            ================================================== -->
            <div class="section-blog section-padding" id="section-blog">
                <div class="container">

                    <!-- Section title -->
                    <div class="section-title-wrapper">
                        <h2 class="title-section">Edições Anteriores</h2>
                    </div>
                    <!-- /Section title -->

                    <div id="blog-itens-container">

                        {% for video in videos %}

                            <!-- blog-item -->
                            <div class="blog-item">
                                <div class="blog-item-wrapper">
                                    <!-- blog item thumbnail -->
                                    <div class="blog-item-thumb">
                                        <a href="{% url 'video' id=video.id %}" class=""><img src="{{ video.thumb }}" alt=""></a>
                                    </div>
                                    <!-- /blog item thumbnail -->
                                    <!-- Blog item - infos -->
                                    <div class="blog-item-infos">
                                        <!-- blog-item-title -->
                                        <div class="blog-item-title-wrapper">
                                            <h2 class="blog-item-title title-border"><a href="{% url 'video' id=video.id %}" class="">{{ video.title }}</a></h2>
                                        </div>
                                        <!-- /blog-item-title -->
                                        <!-- blog item - description -->
                                        <div class="blog-item-description">
                                            <p><a href="{% url 'video' id=video.id %}" class="">{{ video.excerpt }}</a></p>
                                        </div>
                                        <!-- /blog-item-description -->
                                        <!-- blog item - link -->
                                        <div class="blog-item-link">
                                            <a href="{% url 'video' id=video.id %}" class=" btn btn-nobg">Ver</a>
                                        </div>
                                        <!-- /blog item - link -->
                                    </div>
                                    <!-- /blog item - infos -->
                                </div>
                            </div>
                            <!-- /blog-item -->

                        {% endfor %}

                    </div>
                </div>
            </div>
            <!-- /SECTION: Blog
            ================================================== -->


{% endblock %}

{% block js %}
	{{ block.super }}
    {% javascript 'ajax' %}
{% endblock %}