{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load pipeline %}
{% load static %}

{% block body %}

		<div class="header-secondary" style="background-image: url({% static 'img/background-kv.jpg' %});"></div>


		<!-- SECTION: Event Description
		================================================== -->
		<div class="section-about" id="section-about" style="min-height: 65vh;">
			<div class="container">
				<div class="row">

					<div class="about-text-wrapper">
						<div class="about-text" id="about-text">
							<h3>OBRIGADO PELO INTERESSE DEMONSTRADO E PELO PEDIDO DE INSCRIÇÃO.</h3>
							<div class="cookies-text-content">

								<p>RECEBERÁ UM MAIL BREVEMENTE COM A CONFIRMAÇÃO DO SEU PEDIDO. CONSULTE A SUA CAIXA DE MAIL, COM AS INFORMAÇÕES NECESSÁRIAS.</p>
							</div>

							<a href="{% url 'home' %}" class="btn btn-nobg"><i class="fa fa-paper-plane"></i> Voltar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /SECTION: Event Description
		================================================== -->

{% endblock %}
