<p>Boa tarde,</p>

<p>Agradecemos o interesse demonstrado e pedido de inscrição na Conferência Astellas Medicina Humanizada, que se realizará dia 21 Outubro 2021, no Pavilhão Rosa Mota, no Porto.</p>
<p>Em breve, entraremos em contacto, para confirmar a sua presença, sendo que relembramos que os lugares são limitados.</p>
<p>Obrigado,</p>
<p>Equipa Astellas</p>