<p>Boa tarde,</p>

<p>Agradecemos o interesse demonstrado e pedido de inscrição na Conferência Astellas Medicina Humanizada, mas infelizmente e devido ao número limitado de lugares, não poderemos contar com a sua presença no local, pelo que contamos com a sua ligação live no dia 21 Outubro, pelas 17h30, através do site <a href="#link#">astellasconferencia.pt</a></p>
<p>Aproveitamos para o convidar a fazer download da nossa APP para uma melhor experiência.</p>
<p>
    <a href="https://apps.apple.com/pt/app/astellas-medicina-regenerativa/id1521726062"><img src="https://astellasconferencia.pt/static/img/app_store_badge.png" /></a> <a href="https://play.google.com/store/apps/details?id=com.ycone.events.astellas2020"><img src="https://astellasconferencia.pt/static/img/google_play_badge.png" /></a>
</p>
<p>Obrigado,</p>
<p>Equipa Astellas</p>