{% load i18n %}
{% load static %}

    <!-- Footer
    ================================================== -->
    <footer id="footer" class="jumb-footer">
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-sm-4">
                    <div>
                        "Conferência Astellas" <i>- Medicina Regenerativa</i>
                    </div>
                    <div class="ic-logo-footer">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-sm-4">
                    <div class="footer-contacts">
                        <p>Lagoas Park, Edifício 5 – Torre C, Piso 6, 2740-245 Porto Salvo, Portugal</p>
                        <p> conferencia.astellas@astellas.com</p>
                        <p> + 351 21 440 13 00</p>
                        <a href="https://www.linkedin.com/company/astellas-portugal/mycompany/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <!-- /col -->

                <!-- col -->
                <div class="col-sm-4">
                    <div>
                        <ul class="footer-links">
                            <li>
                                <a href="{% url 'cookie_policy' %}">Política de Cookies</a>
                            </li>
                            <li>
                                <a href="{{ configs.TERMS_CONDITIONS.value }}" target="_blank">Termos e Condições</a>
                            </li>
                            <li>
                                <a href="{{ configs.PRIVACY_POLICY.value }}" target="_blank">Política de Privacidade</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
    </footer>
    <!-- /Footer
    ================================================== -->

    <div class="cookie-banner" style="display:none;">
        <div class="container cb-wrapper d-md-flex align-items-center justify-content-between">
            <div class="cookie-text">{{ configs.COOKIE_BANNER_TEXT.value }}</div>
            <div>
                <div class="accept">
                    <a href="#" class="button cookie-accept">Aceitar</a>
                    <a class="link" href="{% url 'cookie_policy' %}">Ver política de cookies</a>
                </div>
            </div>
        </div>
    </div>