{% load static %}

    <!-- Page Loader
    ========================================================= -->
    <div class="loader-container" id="page-loader">
      <div class="loading-wrapper loading-wrapper-hide">
        <div class="loader-animation" id="loader-animation">
            <svg class="svg-loader" width=100 height=100>
              <circle cx=50 cy=50 r=25 />
            </svg>
        </div>
        <!-- Edit With Your Name -->
        <div class="loader-name" id="loader-name">
          <img src="{% static 'img/logo.png' %}" alt="">
        </div>
        <!-- /Edit With Your Name -->
        <!-- Edit With Your Job -->
        <p class="loader-job" id="loader-job">21 Outubro 2021 @ Pavilhão Rosa Mota - Porto</p>
        <!-- /Edit With Your Job -->
      </div>
    </div>
    <!-- /End of Page loader
    ========================================================= -->