{% load i18n %}
{% load static %}
<!-- Blog Posts -->
<div class="blog-single-post">
	<!-- post image -->
	<div class="post-header-image">
		<div class="embed-responsive embed-responsive-16by9" id="video-placer">
            {{ embed|safe }}
        </div>
	</div>										
	<!-- /post-image -->	

	<!-- post title -->
	<h2 class="blog-single-title">{{ title }}</h2>
	<!-- /post title -->
										
	<!-- post content -->
	<div class="blog-single-content">
		{{ description|safe }}
	</div>
	<!-- /post content -->

</div>			
<!-- /Blog Posts -->	